//
   Created by q on 2017-01-07.
doctype html
html
    head
        title Literally Canvas
        link(href='/static/css/literallycanvas.css', rel='stylesheet')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no')
        style(type='text/css').
            *{
                margin: 0;
                padding: 0;
            }
            .fs-container {
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            .literally {
                width: 100%;
                height: 100%;
                position: relative;
            }
            #lc {
                width: 100%;
                height: 100%;
            }

            .fab {
                background: #03A9F4;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                text-align: center;
                color: #FFF;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
                position: fixed;
                bottom: calc(1 / 4 * 3 * 64px);
                right: calc(1 / 4 * 3 * 64px);
                font-size: 2.6667em;
                display: inline-block;
                cursor: default;
            }
    body
        .fs-container
            #lc
        #masterfab.fab
            a#imageSave(href='', download='canvas') ↓
        // you really ought to include react-dom, but for react 0.14 you don't strictly have to.
        script(src='http://code.jquery.com/jquery-3.1.1.js')
        script(src='/static/js/react-0.14.3.js')
        script(src='/static/js/literallycanvas.js')
        script(src='https://cdn.socket.io/socket.io-1.4.5.js')
        script(type='text/javascript').
            // url change
            window.history.pushState('', '', '/#{id}');

            // socket initialization and room join
            var socket = io();
            socket.on('connect', function () {
                socket.emit('joinRoom', '#{id}');
            });

            // literallyCanvas initialization
            var lc = LC.init(document.getElementById("lc"), {
                imageURLPrefix: '/static/img',
                toolbarPosition: 'bottom',
                defaultStrokeWidth: 2,
                strokeWidths: [1, 2, 3, 5, 30],
                imageSize: {width: null, height: null}
            });
            if (#{isCreation})
                console.log('id : #{id}');
            else
                lc.loadSnapshot(!{snapshotJSON});

            // literallyCanvas event handlers
            lc.on('drawingChange', function() {
                socket.emit('json snapshot', {
                    id: '#{id}',
                    snapshot: JSON.stringify(lc.getSnapshot())
                });
            });
            lc.on('shapeSave', function (args) {
                console.log(JSON.stringify(args));
                console.log(LC.shapeToJSON(args.shape));
                console.log(JSON.stringify(args.previousShapeId));
                socket.emit('json shape', {
                    curr: LC.shapeToJSON(args.shape),
                    prev: args.previousShapeId,
                    id: '#{id}',
                    snapshot: JSON.stringify(lc.getSnapshot())
                });
            });
            lc.on('clear', function () {
                socket.emit('command', {comm: 'clear', id: '#{id}'});
            });
            lc.on('undo', function () {
                socket.emit('command', {comm: 'undo', id: '#{id}'});
            });
            lc.on('redo', function () {
                socket.emit('command', {comm: 'redo', id: '#{id}'});
            });
            lc.on('backgroundColorChange2', function (newColor) {
                console.log(JSON.stringify(newColor));
                socket.emit('background color', {color: newColor, id: '#{id}'});
            });

            // socket event handlers
            socket.on('json shape', function (args) {
                console.log(LC.JSONToShape(args.curr));
                console.log(args.prev);
                lc.saveShape(LC.JSONToShape(args.curr), false, args.prev);
            });
            socket.on('command', function (comm) {
                if (comm == 'clear') {
                    console.log('clear');
                    lc.clear(false);
                } else if (comm == 'undo') {
                    console.log('undo');
                    lc.undo(false);
                } else if (comm == 'redo') {
                    console.log('redo');
                    lc.redo(false);
                }
            });
            socket.on('background color', function(color) {
                console.log(color);
                lc.setColor('background', color, false);
            });

            // floating action button click listener
            $(function () {
                $('#masterfab').click(function (e) {
                    document.getElementById("imageSave").href = lc.getImage().toDataURL();
                });
            });